---
import Seo from "../components/Seo.astro";

import '../styles/global.css';
---

<html lang="en">
	<head>
		<Seo seo={{ title: "123", description: "123", keywords: "123,2323232,4123412", canonical: "https://asd-1727337665035.netlify.app/", image: 'https://asd-1727337665035.netlify.app/images/1727337571919_blog-1.webp', type: "Website", themeColor: "#ffffff"}} />
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body>  </body>
</html>
